<div class="panel panel-default">
    <div class="panel-heading">
        List of transactions
    </div>
    <div class="panel-body">
        It's a list of all transactions
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="vert-align">Id</th>
            <th class="vert-align" colspan="2">From Name</th>
            <th class="vert-align">To Name</th>
            <th class="vert-align">Money</th>
            <th class="vert-align">
                <button type="button" class="btn btn-sm btn-default pull-right" ui-sref="makeTransaction">
                    <span class="glyphicon glyphicon-transfer"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="vert-align" ng-repeat="transaction in transactions" ng-class="{warning:transaction.from == 0 || transaction.to == 0}">
            <td class="vert-align">{{transaction.id}}</td>
            <td class="vert-align" ng-show="transaction.from != 0" ui-sref="user ({ id : transaction.from })">{{transaction.nameFrom}}</td>
            <td class="vert-align" ng-hide="transaction.from != 0"><span class="glyphicon glyphicon-piggy-bank"></span></td>
            <td class="vert-align"><span class="glyphicon glyphicon-arrow-right"></span></td>
            <td class="vert-align" ng-show="transaction.to != 0" ui-sref="user ({ id : transaction.to })">{{transaction.nameTo}}</td>
            <td class="vert-align" ng-hide="transaction.to != 0"><span class="glyphicon glyphicon-piggy-bank"></span></td>
            <td class="vert-align"colspan="2">{{transaction.money | currency}}</td>
        </tr>
        </tbody>
    </table>
    <div style="padding: 15px">
        <button type="button" class="btn btn-default btn-block" ng-show="hasMore" ng-click="loadMore()">Load more...</button>
    </div>
</div>